$root = '.c-btn'

{$root}
    display flex
    align-items center
    justify-content center 
    border none
    outline none 
    font-weight 400
    cursor pointer
    background none
    transition background-color .3s
    border-radius 5px
    
    &[disabled],
    &.disabled
        color $lightgray !important
        border-color $lightgray !important
        box-shadow none !important

    &:hover
        color $blue
        border-color $blue

    &:active
        color #ffffff
        background-color $blue
        border-color $blue
