$root ='.c-price'

{$root}
    display flex
    position relative
    flex-direction column
    align-items flex-end

    &__value
        font-size 17px

    &__old-value
        display none
        position absolute
        right 0
        top -10px
        z-index 1
        font-size 11px
        text-decoration line-through

    &_discount
        {$root}__old-value
            display block

        {$root}__value
            color $red