$root = '.c-product-param'

{$root}
    display flex
    width auto
    height auto
    flex-direction column
    justify-content flex-end
    align-items center
    cursor pointer
    overflow visible

    &__icon
        position relative

    &__discount-icon,
    &__selected-icon
        display none
        position absolute
        right -7px
        z-index 10
        background-color transparent

        svg
            height 14px

    &__discount-icon
        top -7px

    &__selected-icon
        bottom -7px

    &__value
        margin-top 5px
        text-align center
        font-size 11px
        color currentColor

    &_discount
        {$root}__discount-icon
            display block

    &_selected
        {$root}__icon
            box-shadow 0 1px 6px rgba(51,146,215,.48)
            border-color rgba(51,146,215,.64) !important

        {$root}__selected-icon
            display block

    &_disabled
        color $lightgray
        cursor normal

        {$root}__icon
            opacity 0.5