$path = '../assets/fonts/'

@font-face
    font-family 'OpenSans'
    src url($path + "/OpenSans/opensans.woff") format("woff")
    font-weight 400
    font-style normal

@font-face
    font-family 'OpenSans'
    src url($path + "/OpenSans/opensans.woff2") format("woff2")
    font-weight 400
    font-style normal


@font-face
    font-family 'OpenSans'
    src url($path + "/OpenSans/opensanssemibold.woff") format("woff")
    font-weight 500
    font-style normal

@font-face
    font-family 'OpenSans'
    src url($path + "/OpenSans/opensanssemibold.woff2") format("woff2")
    font-weight 500
    font-style normal


@font-face
    font-family 'OpenSans'
    src url($path + "/OpenSans/opensansbold.woff") format("woff")
    font-weight bold
    font-style normal

@font-face
    font-family 'OpenSans'
    src url($path + "/OpenSans/opensansbold.woff2") format("woff2")
    font-weight bold
    font-style normal