// fade
.fade-enter-active, .fade-leave-active
    transition opacity .3s

.fade-enter, .fade-leave-to
    opacity 0

//slide-fade
.slide-fade-enter-active, .slide-fade-leave-active
    transition transform .5s, opacity .5s

.slide-fade-enter, .slide-fade-leave-to
    opacity 0

.slide-fade-enter
    transform translateX(50px)

.slide-fade-leave-to
    transform translateX(-50px)

//slide-down-fade
.slide-down-fade-enter-active, .slide-down-fade-leave-active
    transition transform .5s, opacity .5s

.slide-down-fade-enter, .slide-down-fade-leave-to
    opacity 0
    transform translateY(20px)


//slide-top-fade
.slide-top-fade-enter-active, .slide-top-fade-leave-active
    transition transform .1s, opacity .1s
    transform-origin top

.slide-top-fade-enter, .slide-top-fade-leave-to
    opacity 0
    // transform translateY(-20px)
    transform scaleY(0)